<app-background></app-background>
<app-navbar></app-navbar>
<div class="container-fluid">

  <h1>What's on my mind ?</h1>

  <div class="row">
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" src="assets/logos/html.webp" alt="Card image cap">
        <p class="card-title">Html</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" src="assets/logos/css.webp" alt="Card image cap">
        <p class="card-title">Css</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" src="assets/logos/js.webp" alt="Card image cap">
        <p class="card-title">Javascript</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top p-2" src="assets/logos/typescript.webp" alt="Card image cap">
        <p class="card-title">Typescript</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="angularImg" src="assets/logos/angular.webp" alt="Card image cap">
        <p class="card-title">Angular</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="ionicImg" src="assets/logos/ionic.webp" alt="Card image cap">
        <p class="card-title">Ionic</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="bootstrapImg" src="assets/logos/bootstrap.webp" alt="Card image cap">
        <p class="card-title">Bootstrap</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="tailwindImg" src="assets/logos/tailwind.webp" alt="Card image cap">
        <p class="card-title">Tailwind</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="gitImg" src="assets/logos/git.webp" alt="Card image cap">
        <p class="card-title">Git</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="githubImg" src="assets/logos/github.webp" alt="Card image cap">
        <p class="card-title">Github</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="gitlabImg" src="assets/logos/gitlab.webp" alt="Card image cap">
        <p class="card-title">Gitlab</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="bitbucketImg" src="assets/logos/bitbucket.webp" alt="Card image cap">
        <p class="card-title">Bitbucket</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" id="jiraImg" src="assets/logos/jira.webp" alt="Card image cap">
        <p class="card-title">Jira</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" src="assets/logos/firebase.webp" alt="Card image cap">
        <p class="card-title">Firebase</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" src="assets/logos/postman.webp" alt="Card image cap">
        <p class="card-title">Postman</p>
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="skill-card">
        <img class="card-img-top" src="assets/logos/figma.webp" alt="Card image cap">
        <p class="card-title">Figma</p>
      </div>
    </div>
    <!-- End -->

  </div>
</div>


