<app-background></app-background>
<app-navbar></app-navbar>

<div class="row">
  <!--      image section-->
  <div class="col-lg-6" id="img-container">
    <!--    <img class="user-img" src="assets/images/gsimg.webp">-->
    <img class="user-img" src="assets/images/gsimg2.webp">
    <hr class="horizontal-line">
  </div>

  <!--      description section-->
  <div class="col-lg-6 mb-5" id="descriptionSection">
    <h2 class="mb-3">Welcome to my portfolio</h2>
    <p>I'm thrilled to have you here. I'm Gitesh, an Angular developer Native to the bustling city of Bakaner, Madhya
      Pradesh, India.
      <br/>
      My portfolio is a testament to my journey as a web artisan, where innovation and excellence drive my
      passion.
      <br/>
      With Angular as my trusted tool, I've crafted dynamic web experiences that push the boundaries of the
      online realm. Come, explore my digital journey.
      <!--      In my portfolio, you'll discover a collection of projects that showcase my expertise and dedication to the craft.-->
      <!--      Each project is a testament to the endless possibilities of web development, where innovation meets design, and-->
      <!--      user experiences are at the forefront.-->
    </p>

    <!--        experience cards-->
    <h3>Time with the corporates</h3>
    <div class="card-container">
      <!--    1st card-->
      <div class="experience-card">
        <div class="card-left">
          <!--          <i class="fa-solid fa-code fontawesomeIcon"></i>-->
          <img src="https://goclever.in/assets/img/favicon.webp"
               style="width: 60px; height: 60px">
        </div>
        <div class="vertical-line"></div>
        <div class="card-body">
          <h6 class="card-title">
            <a href="https://goclever.in/" target="_blank">
              Go Clever Community
            </a>
          </h6>
          <h6 class="card-subtitle">Frontend Engineer</h6>
          <h6 class="card-subtitle">Sep,2022 - Present</h6>
        </div>
      </div>

      <!--    2nd card-->
      <div class="experience-card">
        <div class="card-left">
          <!--          <i class="fa-solid fa-industry fontawesomeIcon"></i>-->
          <img src="https://www.welspun.com/images/logo/welspun-world-favicon.png"
               style="width: 60px; height: 60px">
        </div>
        <div class="vertical-line"></div>
        <div class="card-body">
          <h6 class="card-title">
            <a href="https://www.welspun.com/" target="_blank">
              Welspun Living Limited
            </a>
          </h6>
          <h6 class="card-subtitle">Assistant Manager</h6>
          <h6 class="card-subtitle">July,2018 - Aug,2021</h6>
        </div>
      </div>
    </div>
    <!--        education cards-->
    <h3>Scholarly pursuits</h3>
    <div class="card-container">
      <!--    1st card-->
      <div class="experience-card">
        <div class="card-left">
          <!--          <i class="fa-solid fa-graduation-cap fontawesomeIcon"></i>-->
          <img src="https://www.svvv.edu.in/images/logo-small.png"
               style="width: 60px; height: 60px">
        </div>
        <div class="vertical-line"></div>
        <div class="card-body">
          <h6 class="card-title">B.E. Textile Technology</h6>
          <h6 class="card-subtitle">SVITS, Indore</h6>
          <h6 class="card-subtitle">2014 - 2018</h6>
        </div>
      </div>
    </div>

    <!--       hobbies-->
<!--    <h3>My palette of passions</h3>-->
<!--    <div class="hobbies-container">-->
<!--      <ul>-->
<!--        <li>Picture taking</li>-->
<!--        <li>Doodling</li>-->
<!--        <li>Savoring music</li>-->
<!--        <li>Wanderlust</li>-->
<!--        <li>Stand-up Lover</li>-->
<!--      </ul>-->
<!--    </div>-->

    <!--       fun facts-->
<!--    <h3>Giggly glimpses</h3>-->
<!--    <div class="hobbies-container">-->
<!--      <ul>-->
<!--        <li>Street names tend to escape me.</li>-->
<!--        <li>I work as a tech-support for my family.</li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    &lt;!&ndash;       awards&ndash;&gt;-->
<!--    <h3>Notable accolades</h3>-->
<!--    <div class="hobbies-container">-->
<!--      <ul>-->
<!--        <li>Recipient of the top photography accolade on World Photography Day at Welspun World.</li>-->
<!--        <li>Recipient of the top award at the school science exhibition.</li>-->
<!--        <li>Won the top award for drawing during the school's Teachers' Day celebration.</li>-->
<!--      </ul>-->
<!--    </div>-->

    <!--       about this site-->
    <h3>Website synopsis</h3>
    <div class="hobbies-container">
      <ul>
        <li>This website is crafted using Angular, Bootstrap, and a whole lot of love.</li>
        <li>The background image and animations have been sourced from codepen.io.</li>
      </ul>
    </div>

    <!--       contact me-->
    <h3>Let's plug into the same network</h3>
    <p class="pb-3">Let's join forces to shape the digital future. Whether it's coding, design, or just a friendly tech
      chat, I'm all ears. Connect with me, and let's turn ideas into digital realities.</p>
    <p class="pb-3"> As I continue to grow and evolve as an Angular developer, your support and feedback mean the world
      to me.</p>
    <p class="pb-3">If you
      have any questions or opportunities for collaboration, please don't hesitate to drop me a line via</p>
    <div class="contact-container">
      <a href="https://github.com/giteshh" target="_blank">
        <i class="fa-brands fa-xl fa-github"></i></a>
      <a href="https://www.linkedin.com/in/gitesh-sharma15/" target="_blank">
        <i class="fa-brands fa-xl fa-linkedin"></i>
      </a>
      <a href="mailto:gitesh15796@gmail.com" target="_blank">
        <i class="fa-solid fa-xl fa-envelope"></i></a>
      <a href="https://www.instagram.com/hsetig/" target="_blank">
        <i class="fa-brands fa-xl fa-instagram"></i></a>
    </div>
  </div>
</div>

