<app-background></app-background>
<app-navbar></app-navbar>

<div class="row">
  <!--      image section-->
  <div class="col-lg-6">
    <img class="user-img" src="assets/images/gsimg.webp">
  </div>

  <!--      description section-->
  <div class="col-lg-6 mb-5" id="descriptionSection">
    <h1 class="mb-3">Hey there,</h1>
    <p>I'm a web tech enthusiast located in Bakaner, Madhya Pradesh, India.</p>
    <p>I enjoy working as an Angular developer.</p>

    <!--        experience cards-->
    <h3>Experience</h3>
    <!--    1st card-->
    <div class="experience-card">
      <div class="card-body">
        <h6 class="card-title">
          <a href="https://goclever.in/" target="_blank">
            Go Clever Community
          </a>
        </h6>
        <h6 class="card-subtitle">Frontend Engineer</h6>
        <h6 class="card-subtitle">May,2022 - Oct,2022</h6>
      </div>
    </div>

    <!--    2nd card-->
    <div class="experience-card">
      <div class="card-body">
        <h6 class="card-title">
          <a href="https://www.welspun.com/" target="_blank">
            Welspun India Ltd, Vapi
          </a>
        </h6>
        <h6 class="card-subtitle">Assistant Manager</h6>
        <h6 class="card-subtitle">July,2018 - Aug,2021</h6>
      </div>
    </div>

    <!--        education cards-->
    <h3>Education</h3>
    <!--    1st card-->
    <div class="experience-card">
      <div class="card-body">
        <h6 class="card-title">B.E. Textile Technology</h6>
        <h6 class="card-subtitle">SVITS, Indore</h6>
        <h6 class="card-subtitle">7.29 CGPA</h6>
        <h6 class="card-subtitle">2014 - 2018</h6>
      </div>
    </div>

    <!--    2nd card-->
    <div class="experience-card">
      <div class="card-body">
        <h6 class="card-title">Higher Secondary (CBSE)</h6>
        <h6 class="card-subtitle">Gurukul School, M.P.</h6>
        <h6 class="card-subtitle">71% [2014]</h6>
      </div>
    </div>

    <!--    3rd card-->
    <div class="experience-card" id="last-card">
      <div class="card-body">
        <h6 class="card-title">High School (CBSE)</h6>
        <h6 class="card-subtitle">Perfect Academy</h6>
        <h6 class="card-subtitle">8.6 CGPA</h6>
        <h6 class="card-subtitle">2012</h6>
      </div>
    </div>

    <!--       hobbies-->
    <h3>I enjoy</h3>
    <div class="hobbies-container">
      <ul>
        <li>Photography</li>
        <li>Drawing</li>
        <li>Listening music</li>
        <li>Travelling</li>
        <li>Watching stand-up comedy</li>
      </ul>
    </div>

    <!--       fun facts-->
    <h3>Fun facts</h3>
    <div class="hobbies-container">
      <ul>
        <li>I love photography but I don't have a DSLR.</li>
        <li>I can't remember every street I go.</li>
      </ul>
    </div>

    <!--       awards-->
    <h3>Awards</h3>
    <div class="hobbies-container">
      <ul>
        <li>Best photography award on World photography day at Welspun Group, Vapi, Gujarat.</li>
      </ul>
    </div>

    <!--       about this site-->
    <h3>About this site</h3>
    <div class="hobbies-container">
      <ul>
        <li>This website is made with angular, bootstrap and love.</li>
        <li>The background image and animations are taken from codepen.io</li>
      </ul>
    </div>

    <!--       contact me-->
    <h3>Contact me</h3>
    <p class="pb-3">Let's be friends</p>
    <div class="contact-container">
      <a href="https://www.linkedin.com/in/gitesh-sharma15/" target="_blank">
        <i class="fa-brands fa-xl fa-linkedin"></i>
      </a>
      <a href="https://github.com/giteshh" target="_blank">
        <i class="fa-brands fa-xl fa-github"></i></a>
      <a href="https://www.instagram.com/hsetig/" target="_blank">
        <i class="fa-brands fa-xl fa-instagram"></i></a>
      <a href="mailto:gitesh15796@gmail.com" target="_blank">
        <i class="fa-solid fa-xl fa-envelope"></i></a>
    </div>
  </div>
</div>

