@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}

/*css for name*/
.title {
  padding: 100px 0;

  h1 {
    color: #fff;
    font-size: 65px;
    position: relative;
    font-weight: bold;
  }

  h4 {
    color: #fff;
    opacity: 0.9;
    font-size: 30px;
    text-shadow: 5px 3px #4E4D50;
  }
}

.title-span {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 0.5;
}

/*astronaut css*/
.ast {
  position: absolute;
  top: 30%;
  left: 65%;
  width: 350px;
  animation: ast 50s infinite linear alternate;
}

@keyframes ast {
  to {
    transform: translate(-150px, -150px) rotate(1turn);
  }
}

@media only screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 40px;
  }
  .title {
    padding: 0;

    h1 {
      color: #fff;
      font-size: 29px;
      font-weight: bold;
    }

    h4 {
      color: #fff;
      font-size: 16px;
      position: relative;
    }

    .title-span {
      font-size: 15px;
      font-weight: lighter;
      color: silver;
    }
  }
  /*astronaut css*/
  .ast {
    position: absolute;
    top: 65%;
    left: 45%;
    width: 160px;
    animation: ast 50s infinite linear alternate;
  }

  @keyframes ast {
    to {
      transform: translate(-150px, -150px) rotate(0.5turn);
    }
  }
}
