
  <app-background></app-background>
  <app-navbar></app-navbar>
<div class="flex-container">
  <!-- for name-->
  <div class="title">
    <span class="title-span">this.greeting = </span>
    <h1>"Hello World";</h1>
    <span class="title-span">this.name = </span>
    <h1>"I'm Gitesh Sharma";</h1>
    <span class="title-span">this.designation = </span>
    <h4>"identify me as an angular developer";</h4>
  </div>
  <div class="right">
    <div class="section">
      <img src="http://salehriaz.com/404Page/img/astronaut.svg" alt="" class="ast">
    </div>
  </div>
</div>
