<app-background></app-background>
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="px-lg-5">
    <!--heading section-->
    <div class="row py-2">
      <div class="col-lg-12">
        <h1 class="text-white mb-4">Below are some of my projects </h1>
      </div>
    </div>
    <!-- End -->

    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://agroshop-dd1ab.web.app" target="_blank" class="text-light">Agroshop</a>
            </h5>
            <p class="text-light">shop management system for pesticide shop</p>
            <p class="text-light"><b>Tech Stack : </b> Angular 13, AWS, Django</p>
          </div>
          <a href="https://agroshop-dd1ab.web.app" target="_blank" class="text-light text-center">
            <img src="assets/images/agroshop.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://ecommerce-a499f.web.app" target="_blank" class="text-light">Ecommerce</a>
            </h5>
            <p class="text-light">Ecommerce website- Vastrahunt</p>
            <p class="text-light"><b>Tech Stack : </b> Angular 13, Bootstrap, Firebase</p>
          </div>
          <a href="https://ecommerce-a499f.web.app" target="_blank" class="text-light">
            <img src="assets/images/ecommerce.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://kanbanboardangular.web.app" target="_blank" class="text-light">Kanban Board</a>
            </h5>
            <p class="text-light">Simple Kanban Board</p>
            <p class="text-light"><b>Tech Stack : </b> Angular 14, Angular material, Firebase</p>
          </div>
          <a href="https://kanbanboardangular.web.app" target="_blank" class="text-light">
            <img src="assets/images/kanban.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://tic-tac-toe--g.web.app" target="_blank" class="text-light">Tic Tac Toe</a>
            </h5>
            <p class="text-light">Tic Tac Toe game</p>
            <p class="text-light"><b><b>Tech Stack : </b></b> Angular 14, Bootstrap, Firebase</p>
          </div>
          <a href="https://tic-tac-toe--g.web.app" target="_blank" class="text-light">
            <img src="assets/images/tictactoe.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://anti-bass-v1.web.app/home" target="_blank" class="text-light">Anti Bass</a>
            </h5>
            <p class="text-light">Simple music player</p>
            <p class="text-light"><b><b>Tech Stack : </b></b> Angular 14, Bootstrap, Firebase</p>
          </div>
          <a href="https://anti-bass-v1.web.app/home" target="_blank" class="text-light">
            <img src="assets/images/antibass.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://bmi-cal-culator.web.app/" target="_blank" class="text-light">BMI Calculator</a>
            </h5>
            <p class="text-light">Body mass index calculator</p>
            <p class="text-light"><b>Tech Stack : </b> Angular 14, Bootstrap, Firebase</p>
          </div>
          <a href="https://bmi-cal-culator.web.app/" target="_blank" class="text-light">
            <img src="assets/images/bmicalc.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://temperature-converter-v1.web.app/" target="_blank" class="text-light">Temperature
                Converter</a>
            </h5>
            <p class="text-light">Temperature converter website</p>
            <p class="text-light"><b>Tech Stack : </b> Angular 14, Angular material, Firebase</p>
          </div>
          <a href="https://temperature-converter-v1.web.app/" target="_blank" class="text-light">
            <img src="assets/images/tempconv.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="project-card rounded shadow-sm">
          <div class="card-header">
            <h5>
              <a href="https://daily-dairy-delivery.web.app/public/login" target="_blank" class="text-light">Daily Dairy
                Delivery</a>
            </h5>
            <p class="text-light">Dairy delivery mobile app ui</p>
            <p class="text-light"><b>Tech Stack : </b> Ionic (angular), Firebase</p>
          </div>
          <a href="https://daily-dairy-delivery.web.app/public/login" target="_blank" class="text-light">
            <img src="assets/images/ddd.webp" class="img-fluid card-img-top">
          </a>
        </div>
      </div>
      <!-- End -->

    </div>
  </div>
</div>


