<app-background></app-background>
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="container1">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://agroshop-dd1ab.web.app" target="_blank" class="text-light text-center">
          <div class="box" id="box-1">
            <div class="cover">
              <h3 class="name">Agroshop Assist</h3>
              <p class="title">Shop management system for pesticide shop</p>
              <p class="title"><b>Tech Stack : </b> Angular 13, AWS, Django</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://ecommerce-a499f.web.app" target="_blank" class="text-light">
          <div class="box" id="box-2">
            <div class="cover">
              <h3 class="name">Vastrahunt</h3>
              <p class="title">Ecommerce website</p>
              <p class="title"><b>Tech Stack : </b> Angular 13, Bootstrap, Firebase</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://cock-tail-club.web.app/home" target="_blank" class="text-light">
          <div class="box" id="box-3">
            <div class="cover">
              <h3 class="name">Cocktail Club</h3>
              <p class="title">Cocktail website</p>
              <p class="title"><b>Tech Stack : </b> Angular 14, Bootstrap, Firebase</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://kanbanboardangular.web.app" target="_blank" class="text-light">
          <div class="box" id="box-4">
            <div class="cover">
              <h3 class="name">Kanban</h3>
              <p class="title">Kanban board</p>
              <p class="title"><b>Tech Stack : </b> Angular 14, Angular material, Firebase</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://tic-tac-toe--g.web.app" target="_blank" class="text-light">
          <div class="box" id="box-5">
            <div class="cover">
              <h3 class="name">Tic Tac Toe</h3>
              <p class="title">Tic tac toe game</p>
              <p class="title"><b>Tech Stack : </b> Angular 14, Bootstrap, Firebase</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://anti-bass-v1.web.app/home" target="_blank" class="text-light">
          <div class="box" id="box-6">
            <div class="cover">
              <h3 class="name">Anti Bass</h3>
              <p class="title">Audio player website</p>
              <p class="title"><b>Tech Stack : </b> Angular 14, Bootstrap, Firebase</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://bmi-cal-culator.web.app/" target="_blank" class="text-light">
          <div class="box" id="box-7">
            <div class="cover">
              <h3 class="name">BMI Calculator</h3>
              <p class="title">Body mass index calculator</p>
              <p class="title"><b>Tech Stack : </b> Angular 14, Bootstrap, Firebase</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://temperature-converter-v1.web.app/" target="_blank" class="text-light">
          <div class="box" id="box-8">
            <div class="cover">
              <h3 class="name">Temperature Converter</h3>
              <p class="title">Temperature converter app</p>
              <p class="title"><b>Tech Stack : </b> Angular 14, Angular material, Firebase</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 item">
        <a href="https://daily-dairy-delivery.web.app/public/login" target="_blank" class="text-light">
          <div class="box" id="box-9">
            <div class="cover">
              <h3 class="name">Daily Dairy Delivery</h3>
              <p class="title">Dairy products delivery mobile app</p>
              <p class="title"><b>Tech Stack : </b> Ionic, Firebase</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
