<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars text-white"></i>
    </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="button" href="#" routerLink="/home">
              <span class="label-up">Home</span>
              <span class="label-up">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="button" href="#" routerLink="/about">
              <span class="label-up">About</span>
              <span class="label-up">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="button" href="#" routerLink="/skills">
              <span class="label-up">Skills</span>
              <span class="label-up">Skills</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="button" href="#" routerLink="/work">
              <span class="label-up">Work</span>
              <span class="label-up">Work</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>

